/*
Utility

Styleguide 0.8
*/

// ARIA
// http://w3c.github.io/html-reference/aria/aria.html

// Where possible it should be encouraged to style elements based on ARIA
// attributes, this as it's classless and encourages developers to create more
// accessable HTML
[aria-hidden="true"]
{
	display				 	:none;
}

/*
List

[Description for list class]

list--inline	 - [Modifier description]

Markup:
<ul class="list {$modifiers}">
	<li>list item</li>
	<li>list item</li>
	<li>list item</li>
</ul>

Styleguide 0.x
*/
.list
{
	margin 					:0;
	padding 				:0;
	list-style				:none;

	&--inline
	{
		li
		{
			display			:inline-block;
			margin			:0 5px 0 0;
		}
	}
}

// iOS "clickable elements" fix for role="button"
//
// Fixes "clickability" issue (and more generally, the firing of events such as focus as well)
// for traditionally non-focusable elements with role="button"
// see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile
[role="button"]
{
	cursor					:pointer;
}
